@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --color-orange: hsl(25, 97%, 53%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-medium-grey: hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);
    
    --Dark-Blue: hsl(214, 20%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body {
    background: var(--color-very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2 {
    color: var(--color-white);
}

p {
    line-height: 1.8;
    color: var(--color-light-grey);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

ul, li, button {
    font-family: inherit;
    font-size: 1rem;
}

button {
    user-select: none;
    cursor: pointer;
}

.front-card, .back-card {
    background: linear-gradient(to bottom, hsl(212, 18%, 14%), hsl(220, 16%, 11%));
    /* background: var(--color-dark-blue); */
    max-width: 400px;
    padding: 2rem 1.5rem;
    border-radius: 1.625rem;
}

.front-card img {
    background-color: var(--color-dark-blue);
    padding: 0.8rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.front-card h1,
.back-card h2 {
  margin-bottom: 1rem;
}

.front-card h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.front-card p,
.back-card p {
  margin-bottom: 1rem;
}

.front-card p {
    margin-bottom: 1rem;
}

.front-card ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.front-card ul li {
    margin: 0.5rem;
}

.front-card ul li button {
    width: 3rem;
    height: 3rem;
    background: var(--color-dark-blue);
    color: var(--color-light-grey);
    border: none;
    outline: none;
    padding-top: 0.3rem;
    border-radius: 50%;
    transition: 0.3s;
}

.front-card ul li button:hover {
    background: var(--color-orange);
    color: var(--color-white);
}

.front-card ul li button:focus {
    background: var(--color-light-grey);
    color: var(--color-white);
}

.btn-submit {
    background: var(--color-orange);
    color: var(--color-white);
    width: 100%;
    padding: 1rem 2rem ;
    border: none;
    border-radius: 30px;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.175rem;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9rem;
    font-weight: 700;
}

.btn-submit:hover {
    background: var(--color-white);
    color: var(--color-orange);
}

/* BACK CARD */

.back-card {
    text-align: center;
}

.back-card.hidden {
    display: none;
}

.back-card h2 {
    margin-top: 2rem;
}

.back-card img {
    display: block;
    margin: 0 auto 1rem;
}

.back-card h2 {
    font-size: 1.5em;
}

.back-card p {
    padding: 0 0.5rem;
}

.back-card p.gray-shadow {
    background: var(--color-dark-blue);
    color: var(--color-orange);
    margin: auto;
    width: 70%;
    border-radius: 30px;
    padding: 0.3rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rate {
    display: inline-block;
    margin: 0 0.3rem;
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: var(--color-white);
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}